.app_findus_img {
  margin-left: 2rem;
}

.app_findus_img img {
  width: 550px;
  height: 700px;
  border-radius: 20px;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .app_findus_img img {
    width: 400px;
    height: 600px;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .app_findus_img {
    margin-left: 0.5rem;
  }
  .app_findus_img img {
    width: 350px;
    height: 500px;
    margin-top: 2.5rem;
  }
}
