@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato:wght@100&family=Raleway:wght@300&display=swap");
:root {
  --font1: "Crimson Text", serif;
  --font2: "Raleway", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Crimson+Text&family=Lato:wght@100&family=Raleway:wght@300&family=Salsa&display=swap");
:root {
  --font3: "Salsa", cursive;
  --font4: "Crimson Text", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Almendra&family=Chakra+Petch:ital,wght@1,300&family=Crimson+Text&family=Lato:wght@100&family=Raleway:wght@300&family=Salsa&display=swap");
:root {
  --font5: "Almendra", serif;
  --font6: "Chakra Petch", sans-serif;
}
